* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

@mixin clamper($lines-to-clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $lines-to-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

$mobile-width: 425px;
@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}


/* dar theme */
html {
  /* padding-top: 100px;
  padding-bottom: 100px; */
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: none;
  background-color: var(--bg-color);
  top: 150px;
}

:root {

  --font-color: #0f0f0f;
  --bg-color: #fefefe;
  --bg-image: url("../images/logo.png")
}

[data-theme="dark"] {

  --font-color: #fefefe;
  --bg-color: #121212;
}

li {
  float: right;
  padding: 10px 20px;
}

h2{
  color:var(--font-color);
}

.switch{
  position: relative;
}


  
.theme-switch {
display: inline-block;
top: 2vh;
height: 26px;
position: absolute;
width: 54px;
}

.theme-switch input {
display:none;
}

.slider {
background-color: #ccc;
bottom: 0;
cursor: pointer;
left: 0;
position: absolute;
right: 0;
top: 0;
transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 18px;
  left: 6px;
  position: absolute;
  transition: .4s;
  width: 18px;
}

input:checked + .slider {
background-color: #2b2b2b;
}

input:checked + .slider:before {
transform: translateX(26px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

#heroPage{
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
  margin-top: 5vh;
}

.dark{
  background-color: #222;
  color: #e6e6e6;
}


/* .heading {
  height: 10vh;
  justify-content: space-between;
} */
nav {
  display: flex;
  justify-content: space-between;
  margin-left: 15vh;
}

nav img {
  /* height: 175px; */
  position: absolute;
  width: 187px;
  /* margin-left: -173px;
  margin-top: 40px; */
}

#logo img{
  margin-left: -50vh;
  height: 15vh;
  width: 15vh;

}
.ball{
  position: absolute;
  margin-left: -30vh;
  margin-top: 10vh;
  opacity: .5;
}
div nav p {
  color: blueviolet;
  font-family: sans-serif;
  font-size: 31px;
}

div nav ul {
  display: inline-block;
  list-style-type: none;
  /* margin: 0px; */
  padding-right: 15vh;
}


li a {
  color:var(--font-color);
  text-decoration: none;
  position: relative;
  padding: 1vh;
  border: 1px solid rgb(21, 57, 78) ;
}

/* navbar */

#navbar {
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  /* color: #f2f2f2; */
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: rgb(21, 57, 78);
  color: rgb(247, 244, 244);
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}


.btn1  a{
  text-decoration: none;
  position: relative;
  padding: 10px;
  cursor: pointer;
  color: var(--font-color);
  /* background-color: rgb(18,18,18); */
  border: 1px solid;
  z-index: 2;

}
a:hover {
  background-color:rgb(21, 57, 78);
  color: rgb(255, 255, 255);
}

/* a:hover{
  visibility: inherit;
  background-size: auto;
  background-color: #a6ade4;
  color: #000000;
} */


.row1 {
  /* display: flex;
  justify-content: flex-start; */
  height: 90vh;
  margin: 0px;
  padding-top: 10vh;
  padding-left: 15vh;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
}

.column1 {

  color:var(--font-color);
  
  width: 35%;
  padding: 10px;
  margin: 0px;
  margin-left: 0px;
  margin-top: 10vh;
  padding-left: 0px;
  overflow: hidden;
  position: absolute;
}

.column1 h1 {
  font-family: sans-serif;
  font-size: 80px;
  margin-left: 0px;
  color: rgb(21, 58, 80)
}

.column1 p{
  @include clamper(3);
    margin-top: 20px;
    line-height: 2;
    margin-bottom: 20px;
}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column2 {
 
  position: absolute;
  top: 10vh;
  left: -10vh;
  background-image:url(../images/hero.png);
  display: none;
  background-size: contain;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-position: 70% 10%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.rightCircle {
  background-color: rgb(21, 57, 78);
  height: 100vh;
  width: 70vw;
  border-radius: 50%;
  margin-left: 750px;
  position: absolute;
  
}

/* projects */


#projects{
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden !important;
}

#projects h2{
  text-align: center;
  font-size:2rem;
}

.cards{
  color:var(--font-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:2.5rem;
  padding-left: 10%;
  padding-right: 8%;
  margin-top: 5px;
}
.card{
  box-shadow: 10px 10px 5px rgba(37, 35, 35, 0.1);
  min-height: 90vh;
}

.card img{
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 5px;
  background-color: rgb(65, 63, 109);
  
}

.card img:hover{
  transform: scale(1.02);
  transition: .2s;
}

.card-title h2{
  text-align: cen;
  font-family: sans-serif;
    margin: 12px;
    padding: 0px;
    height: 77px;
    box-sizing: border-box;
}

.card-info{
  margin-top: 10px;
  height: 6vh;
  width: auto;
  text-align: center;
}



.card-footer{
  height: 7vh;
  top: 3vh;
  padding-top: 2vh;
  margin-top: 1vh;
  text-align: center;
  justify-content: space-between;
}


.card-footer a{
  background-color: rgb(242, 246, 248);
  color: rgb(5, 4, 4);
  text-decoration: none;
  border: 1px solid;
  padding: 1vh 2vh;
  font-family: sans-serif;
  position: relative;
}
.card-footer a:hover{
  background-color: rgb(21, 57, 78);
  color: #ffffff;

}

/* Contact me  */

#contact{
  position: relative;
  display: flex;
}

#contact h1{
  text-align: center;
  margin-left: 50%;
  margin-top: 2vh;

}

.container2 {
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 65vh;
  margin-left: 90vh;
  margin-top: 10vh;
  margin-bottom: 2vh;
  padding-left: 6vh;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 15px rgb(21, 57, 78);
  /* background-color: gray; */
}

.container2 h2{
  text-align: center;
}
.container1{
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  height: 65vh;
  margin-top: 10vh;
  margin-left: 20vh ;
  margin-bottom: 2vh;
  padding: 15px;
  border-radius: 15px;
  border: none;
  color: #ccc;
  box-shadow: 0 0 15px rgb(21, 57, 78);
}

.insta{
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: rgb(21, 57, 78);
  padding-top: 3vh;

}

.dribble{
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: rgb(21, 57, 78);
  padding-top: 3vh;
  margin-top: 2vh;
}
.behance{
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: rgb(21, 57, 78);
  padding-top: 3vh;
  margin-top: 2vh;
}
.address{
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: rgb(21, 57, 78);
  padding-top: 3vh;
  margin-top: 2vh;
}
.mail{
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: rgb(21, 57, 78);
  padding-top: 3vh;
  margin-top: 2vh;
}




form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

input {
  width: 100%;
  margin: 5px 0;
  height: 35px;
  font-size: 17px;
  text-align: center;
  outline: none;
  border-radius: 15px;
  border: none;
  background: rgb(235, 228, 228);
}

textarea {
  width: 100%;
  margin: 5px 0;
  font-size: 17px;
  text-align: center;
  outline: none;
  border-radius: 15px;
  border: none;
  background: rgb(235, 228, 228);
}
input[type=submit]{
  margin: 10px auto;
  width: 120px;
  background: rgb(21, 57, 78);
  color: white;
  cursor: pointer;
}
input[type=submit]:hover{
background: rgb(21, 57, 78);
}
@media screen and (max-width:600px) {
  .container{
      width: 90%;
  }
}

// responsive

@media screen {

  
}

@media only screen and (min-width : 361px){
.column2{
  display: block;
}
}